<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">

    <div class="container">

        <!-- Brand Image -->
        <a class="navbar-brand" routerLink="/" title="Home">
            <img src="assets/hoaxify.png" width="60" alt="Hoaxify" />
            Hoaxify
        </a>

        <!-- Links -->
        <ul class="navbar-nav">

            <!-- Sign Up -->
            <a
                class="nav-link"
                routerLink="/signup"
                title="Sign Up"
                *ngIf="!authService.loggedInUser.isLoggedIn"
            >
                Sign Up
            </a>

            <!-- Login -->
            <a
                class="nav-link"
                routerLink="/login"
                title="Login"
                *ngIf="!authService.loggedInUser.isLoggedIn"
            >
                Login
            </a>

            <!-- My Profile -->
            <a
                class="nav-link"
                [routerLink]="'/user/' + authService.loggedInUser.id"
                title="My Profile"
                *ngIf="authService.loggedInUser.isLoggedIn"
            >
                My Profile
            </a>

            <!-- Logout -->
            <span
                *ngIf="authService.loggedInUser.isLoggedIn"
                class="nav-link"
                title="Logout"
                (click)="logout()"
            >
                Logout
            </span>

        </ul>

    </div>

</nav>
